{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@atoms": "./src/components/atoms",
          "@molecules": "./src/components/molecules",
          "@organisms": "./src/components/organisms",
          "@screens": "./src/components/screens",
          "@services": "./src/services",
          "@interfaces": "./src/interfaces"
        }
      }
    ]
  ]
}
